  /*  THIS IS THE CSS-HTML INTEGRATION TEST CSS FILE */
.frame
  {
    position:relative;
    left: 19%;
    right: 17%;
    margin-top: 1%;
    margin-bottom; 2%;
    border-style:ridge; 
    border-width:5px;
    border-radius:25px;
    width: 800px;
    height:530px;
    background-color:bisque;
    text-align:center;
    font-size:14px;
    font-family:Verdana;
  }
  
.name
  {/* <div class="name-square"> */
    position:relative;
    margin-left: 31%;
    margin-right: 27%;
    margin-top: 3%;
    border-style:ridge; 
    border-width:2px; 
    color:rgb(106, 5, 5);
    border-radius:5px;
    text-align:center;
    font-size: 22px;
    height: 30px;
    width: 500px;
  }/*left-align
    text-align:center;*/
    
.photo
  {/*FIXED [if exists PHOTO]
    <div class="photo-square">*/
    margin-left: 20%;
    margin-right: 60%;
    border-style:ridge;
    border-radius: 5px; 
    border-width:2px; 
    text-align:center;
    height: 244px;
    width: 244px; 
  }/*left-align DIV1? */

  .birth-legend{
    margin-left: 40%;
    margin-right: 40%;
    border-style:ridge;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    height: 35px;
    width: 60px;
  }
  
  .birth
  {/*FIXED [if exists BIRTH]
    <div class="birth-square"> </div>*/
    margin-left: 46%;
    border-style:ridge;
    border-radius: 5px; 
    border-width: 2px; 
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    height: 57px;
    width: 400px;
  }/*   date - line 1
        place - line 2
        parents - line 3*/

 .marriage-legend
 {
    margin-left: 40%;
    margin-right: 40%;
    border-style:ridge;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    height: 35px;
    width: 60px;
}

.marriage
  {/*FIXED [if exists MARRIAGE]
    <div class="marriage-square"> </div> */
    margin-left: 46%;
    border-style:ridge;
    border-radius: 5px; 
    border-width:2px; 
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    height: 57px;
    width: 400px;
  }/*right-align DIV2?
        MARRIAGE
        spouse - line 1
        date - line 2
        place - line 3*/
    
.death-legend
{
    margin-left: 40%;
    margin-right: 40%;
    border-style:ridge;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 10px;
    padding-top: 25px;
    text-align: left;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    height: 50px;
    width: 60px;
       }
.death
  {/*FIXED [if exists DEATH]
     <div class="death-square"> </div>*/
    margin-left: 46%;
    border-style:ridge;
    border-radius: 5px; 
    border-width:2px; 
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    height: 77px;
    width: 400px;
  }/*right-align DIV2?
        DEATH
        date - line 1
        place - line 2
        buried at - line 3 */
    
.bio-legend
 {
    margin-left: 20%;
    margin-right: 40%;
    border-style:ridge;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 8px;
    padding-top: 20px;
    text-align: left;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    height: 45px;
    width: 60px;
  }

.bio
  {/* OPTIONAL [if exists BIO] 
     <div class="bio-square"> </div> */
     margin-left: 26%;
     margin-right: 60%;
     border-style:ridge;
     border-radius: 5px; 
     border-width:2px; 
     text-align:left;
     padding-left: 10px;
     padding-top: 1px;
     padding-bottom: 1px;
     height: 60px;
     width: 650px;
  } /* left-align */

.children-legend
  {
      margin-left: 20%;
      margin-right: 40%;
      border-style:ridge;
      border-radius: 5px;
      border-width: 2px;
      padding-left: 10px;
      padding-top: 14px;
      padding-bottom: 5px;
      text-align: left;
      font-family:'Franklin Gothic Medium';
      font-size: small;
      height: 20px;
      width: 60px;
         }   

.children
  {/* OPTIONAL [if exists CHILDREN 
     <div class="children-square"> </div>*/
    margin-left: 26%;
    margin-right: 60%;
    border-style:ridge;
    border-radius: 5px; 
    border-width:2px; 
    text-align: left;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 40px;
    width: 650px;
  }/* left-align */

.thumbnail-legend
  {
      margin-left: 20%;
      margin-right: 40%;
      border-style:ridge;
      border-radius: 5px;
      border-width: 2px;
      padding-left: 10px;
      padding-top: 25px;
      text-align: left;
      font-family:'Franklin Gothic Medium';
      font-size: small;
      height: 40px;
      width: 60px;
 }   

.thumbnails
  {/* OPTIONAL [if exists THUMBNAILS 
     <div class="thumbnails-square"> </div>*/
     margin-left: 26%;
     margin-right: 60%;
     border-style:ridge;
     border-radius: 5px; 
     border-width:2px; 
     text-align:left;
     padding-left: 10px;
     padding-top: 1px;
     padding-bottom: 1px;
     height: 60px;
     width: 650px;
  }/* left-align
        {border style:solid}
        border radius: 5px
        hyperlinks to large photos */ 
    